<header class="aulas">
  <div class="header">
      <img class="icon-grade" src="assets/img/icon_newmedcode.svg" alt="Icone grade">
      <div class="header__title">
          <a class="header__link" href="#modal-produto"><span class="header__text">2020 INTENSIVÃO</span><img class="icon-produto" src="assets/img/triangulo-preenchido-com-seta-para-baixo.svg" alt="Menu de produtos"></a>
      </div>
      <a routerLink="/notificacoes">
          <img class="icon-balao" src="assets/img/balao-fala.svg" alt="Balão de notificaçõs">
      </a>
  </div>
  <div class="container-menu">
      <a class="menu-top menu-aulas btn-aulas" routerLink="/aulas" routerLinkActive="active">AULAS</a>
      <a class="menu-top menu-material btn-material" routerLink="/material" routerLinkActive="active">MATERIAL</a>
  </div>
</header>
<router-outlet></router-outlet>

