<app-header></app-header>
<div id="modal-material" class="modal-material">
  <div class="piechart">
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
    <div class="piechart-label">
      <span class="text-label">SEM 01</span>
      <div class="pie">
          <div class="pie-down">100%</div>
          <div class="pie-espcialidade">CLM1 INF</div>
          <div class="baixar">
            <img class="img-baixar" src="../../assets/svg/baixar.svg" alt="">
          </div>
      </div>
    </div>
  </div>
</div>
