<div id="modal-produto" class="modal-produto">
  <div class="content-produto">
      <div class="header-produto">
          <span class="header-text">Selecione um produto:</span>
      </div>
      <div class="combo-selecao__overflow-wrapper">
          <div class="combo-selecao__content conteiner-lista">
              <div class="combo-selecao__item">
                  <div class="combo-selecao__check">
                      <div class="combo-selecao__icon">
                          <div class="combo-selecao__icon-fill">
                              <img class="combo-selecao__icon-img" src="" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="combo-selecao__item-label">2020 R3 CLINICA</div>
              </div>
              <div class="combo-selecao__item">
                  <div class="combo-selecao__check">
                      <div class="combo-selecao__icon">
                          <div class="combo-selecao__icon-fill">
                              <img class="combo-selecao__icon-img" src="" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="combo-selecao__item-label">2020 R3 CLINICA</div>
              </div>
              <div class="combo-selecao__item">
                  <div class="combo-selecao__check">
                      <div class="combo-selecao__icon">
                          <div class="combo-selecao__icon-fill">
                              <img class="combo-selecao__icon-img" src="" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="combo-selecao__item-label">2020 R3 CLINICA</div>
              </div>
              <div class="combo-selecao__item">
                  <div class="combo-selecao__check">
                      <div class="combo-selecao__icon">
                          <div class="combo-selecao__icon-fill">
                              <img class="combo-selecao__icon-img" src="" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="combo-selecao__item-label">2020 R3 CLINICA</div>
              </div>
              <div class="combo-selecao__item">
                  <div class="combo-selecao__check">
                      <div class="combo-selecao__icon">
                          <div class="combo-selecao__icon-fill">
                              <img class="combo-selecao__icon-img" src="" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="combo-selecao__item-label">2020 R3 CLINICA</div>
              </div>
              <div class="combo-selecao__item">
                  <div class="combo-selecao__check">
                      <div class="combo-selecao__icon">
                          <div class="combo-selecao__icon-fill">
                              <img class="combo-selecao__icon-img" src="" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="combo-selecao__item-label">2020 R3 CLINICA</div>
              </div>
              <div class="combo-selecao__item">
                  <div class="combo-selecao__check">
                      <div class="combo-selecao__icon">
                          <div class="combo-selecao__icon-fill">
                              <img class="combo-selecao__icon-img" src="" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="combo-selecao__item-label">2020 R3 CLINICA</div>
              </div>
              <div class="combo-selecao__item">
                  <div class="combo-selecao__check">
                      <div class="combo-selecao__icon">
                          <div class="combo-selecao__icon-fill">
                              <img class="combo-selecao__icon-img" src="" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="combo-selecao__item-label">2020 R3 CLINICA</div>
              </div>
              <div class="combo-selecao__item">
                  <div class="combo-selecao__check">
                      <div class="combo-selecao__icon">
                          <div class="combo-selecao__icon-fill">
                              <img class="combo-selecao__icon-img" src="" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="combo-selecao__item-label">2020 R3 CLINICA</div>
              </div>
          </div>
      </div>
      <div class="combo-selecao__close">
          <a href="#fechar" class="combo-selecao__close-btn">
              FECHAR
          </a>
      </div>
  </div>
</div>
<router-outlet></router-outlet>

