<!-- menu -->
<div class="menu" id="menu">
  <div (click)="onselect()" id="bt" class="folder-menu">
    <div class="bg-folder">
      <img class="menu-cross" src="assets/img/newmenu_cross.svg" alt="">
    </div>
  </div>
  <div class="treinamento">
      <legend>
          <h2>Olá, Rafael</h2>
        </legend>
      <div class="items">
              <div class="itens_lista">
                  <div class="item">
                      <img src="assets/img/icon_newmain.svg" alt="Main">
                      <span>Main</span>
                  </div>
                  <div class="item">
                      <img src="assets/img/icon_newmedcode.svg" alt="Medcode">
                      <span>Medcode</span>
                  </div>
                  <div class="item">
                      <img src="assets/img/icon_newslideaula.svg" alt="Slide de Aula">
                      <span>Slide de<br> Aula</span>
                  </div>
                  <div class="item">
                      <img src="assets/img/icon_newacademicas.svg" alt="Dúvidas Acadêmicas">
                      <span>Dúvidas<br> Acadêmicas</span>
                  </div>
              </div>
          <legend>
              <h2>Área de Treinamento</h2>
          </legend>
          <div class="items">
              <div class="itens_lista">
                  <div class="item">
                      <img src="assets/img/icon_newsimu.svg" alt="Simulados">
                      <span>Simulados</span>
                  </div>
                  <div class="item">
                      <img src="assets/img/icon_newsimu.svg" alt="Simulado R3 Cirurgia">
                      <span>Simulado R3<br> Cirurgia</span>
                  </div>
                  <div class="item">
                      <img src="assets/img/icon_newsimu.svg" alt="Multimídia CP=MED">
                      <span>Multimídia<br> CP-MED</span>
                  </div>
                  <div class="item">
                      <img src="assets/img/icon_newintegra.svg" alt="Concursos na Integra">
                      <span>Concursos<br> na Integra</span>
                  </div>
                  <div class="item">
                  <img src="assets/img/icon_newmonta.svg" alt="Monta Provas">
                  <span>Monta Provas</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<app-produtos></app-produtos>
<router-outlet></router-outlet>
