<div id="modal-notificacao" class="notificacao">
  <header>
      <div class="header">
          <a routerLink="/" class="btn_fechar">
              <span class="close">X</span>
          </a>
          <div class="header__title">
              <span class="header__text">NOTIFICAÇÔES</span>
              <span class="total-notificacao">82</span>
          </div>
      </div>
      <div class="container-menu">
        <div class="menu-notificacao">
          <div class="menu-top menu-aulas">TODAS</div>
          <div class="menu-top menu-material">GERAL</div>
          <div class="menu-top menu-material">SIMULADOS</div>
          <div class="menu-top menu-material">DÚVIDAS ACADÉMICAS</div>
        </div>
        <div class="notificacao-shadow"></div>
      </div>
  </header>
  <div class="container-notificacao">
      <div class="tab">
          <label class="tab-label display-flex">
              <div class="tab-data">
                  <span class="tab-dia">05</span>
                  <span class="tab-mes">set/20</span>
              </div>
              <div class="tab-tema">
                  <span class="tab-tema__status">Simulados</span>
                  <span class="tab-tema__text">SIMULADOS 06 de R3 PED disponível. Realize!</span>
              </div>
              <img class="tab-seta" src="assets/img/right-arrow.svg" alt="">
          </label>
      </div>
      <div class="tab">
          <label class="tab-label display-flex">
              <div class="tab-data">
                  <span class="tab-dia">05</span>
                  <span class="tab-mes">set/20</span>
              </div>
              <div class="tab-tema">
                  <span class="tab-tema__status">Simulados</span>
                  <span class="tab-tema__text">SIMULADOS 06 de R3 PED disponível. Realize!</span>
              </div>
              <img class="tab-seta" src="assets/img/right-arrow.svg" alt="">
          </label>
      </div>
      <div class="tab">
          <label class="tab-label display-flex">
              <div class="tab-data">
                  <span class="tab-dia">05</span>
                  <span class="tab-mes">set/20</span>
              </div>
              <div class="tab-tema">
                  <span class="tab-tema__status">Simulados</span>
                  <span class="tab-tema__text">SIMULADOS 06 de R3 PED disponível. Realize!</span>
              </div>
              <img class="tab-seta" src="assets/img/right-arrow.svg" alt="">
          </label>
      </div>
      <div class="tab">
          <label class="tab-label display-flex">
              <div class="tab-data">
                  <span class="tab-dia">05</span>
                  <span class="tab-mes">set/20</span>
              </div>
              <div class="tab-tema">
                  <span class="tab-tema__status">Simulados</span>
                  <span class="tab-tema__text">SIMULADOS 06 de R3 PED disponível. Realize!</span>
              </div>
              <img class="tab-seta" src="assets/img/right-arrow.svg" alt="">
          </label>
      </div>
      <div class="tab">
          <label class="tab-label display-flex">
              <div class="tab-data">
                  <span class="tab-dia">05</span>
                  <span class="tab-mes">set/20</span>
              </div>
              <div class="tab-tema">
                  <span class="tab-tema__status">Simulados</span>
                  <span class="tab-tema__text">SIMULADOS 06 de R3 PED disponível. Realize!</span>
              </div>
              <img class="tab-seta" src="assets/img/right-arrow.svg" alt="">
          </label>
      </div>
      <div class="tab">
          <label class="tab-label display-flex">
              <div class="tab-data">
                  <span class="tab-dia">05</span>
                  <span class="tab-mes">set/20</span>
              </div>
              <div class="tab-tema">
                  <span class="tab-tema__status">Simulados</span>
                  <span class="tab-tema__text">SIMULADOS 06 de R3 PED disponível. Realize!</span>
              </div>
              <img class="tab-seta" src="assets/img/right-arrow.svg" alt="">
          </label>
      </div>
  </div>
</div>
<router-outlet></router-outlet>

