* {
  margin: 0;
  padding: 0;
  top: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.notificacao {
  height: 100%;
  background: #000;
  position: absolute;
  width: 100%;
  z-index: 9;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

// .notificacao:target {
//   opacity: 1;
//   pointer-events: auto;
//   z-index: 3;
// }

.notificacao header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #000;
}

.btn_fechar {
  text-decoration: none;
  z-index: 1;
}

.notificacao .close {
  color: #fff;
  font-size: 20px;
}

.notificacao .header__title {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 10px;
}

.notificacao .header {
  display: flex;
  position: fixed;
  top: 0;
  height: 50px;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px 20px 12px;
  background: #000;
}

.notificacao .header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.notificacao .header__text {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.notificacao .total-notificacao {
  color: #fff;
  background: #595959;
  font-size: 13px;
  border-radius: 10px;
  padding: 1px 10px 1px 10px;
}

.notificacao .container-menu {
  position: relative;
}

.notificacao .menu-notificacao {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.menu-top {
  padding: 14px 15px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.notificacao-shadow {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, black 75%, black 100%);
  width: 20px;
  height: 100%;
}


.menu-top {
  // width: 50%;
  // text-align: center;
  // padding-bottom: 15px;
  // text-decoration: none;
  // color: #fff;
}

.menu-aulas {
  border-bottom: 2px solid #679f95;
}


.container-menu {
  color: #fff;
  font-size: 10px;
  position: fixed;
  top: 50px;
  background: #000;
  width: 100%;
}

.container-notificacao {
  background: #000;
  color: #fff;
  position: absolute;
  top: 90px;
  width: 100%;
  padding-bottom: 70px;
}

.container-notificacao .tab {
  border-bottom: 1px solid #a5a5a5;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.display-flex {
  display: flex;
}

.tab-label {
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
}

.tab-data {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 12%;
}

.tab-dia {
  color: #a5a5a5;
}

.tab-mes {
  font-size: 8px;
  color: #3a3a3a;
}

.tab-tema {
  width: 76%;
}

.tab-tema__status {
  background: red;
  font-size: 12px;
  width: 76%;
  padding: 4px;
  margin-bottom: 5px;
}

.tab-tema__text {
  display: block;
  font-size: clamp(0.5rem, 1rem, 1.5rem);
  font-weight: 400;
  margin-top: 4px;
}

.tab-seta {
  width: 12px;
}
