<app-header></app-header>
<app-search></app-search>
<div class="modal-aulas">

  <div class="aula-title">
      <div class="aula__nome">PREVENTIVA</div>
  </div>
  <div class="tab">
      <input type="radio" class="collapser" id="opt1" name="rd">
      <label class="aula-tema tab-label display-flex " for="opt1">
        <div class="tema-video"><img src="assets/img/tema_video.png" alt=""></div>
        <div class="tema-texto">Bloco 1 - Medidas De Saúde Coletiva / Declaração De Óbito - Coeficientes (taxas) <span class="tema-texto__duracao"> Duração:00:51:03</span></div>
        <div class="tema-seta"><span class="tema-seta__icon"></span></div>
      </label>
      <div class="aula-sub__tema tab-content">
          <div class="content__tema">
              <span class="content__tema-text"><img class="aula-video__tema" src="assets/img/paly.svg" alt=""> Coeficiente de Morbidade - <span class="content__tema-time"> 00:05:12</span></span>
              <img class="aula-sub__arrow" src="assets/img/down-arrow.svg" alt="">
          </div>
          <div class="content__tema">
              <span class="content__tema-text"><img class="aula-video__tema" src="assets/img/paly.svg" alt=""> Coeficiente de Morbidade - <span class="content__tema-time"> 00:19:18</span></span>
              <img class="aula-sub__arrow" src="assets/img/down-arrow.svg" alt="">
          </div>
          <div class="content__tema">
              <span class="content__tema-text"><img class="aula-video__tema" src="assets/img/paly.svg" alt=""> Coeficiente de Letalidade - <span class="content__tema-time"> 00:45:48</span></span>
              <img class="aula-sub__arrow" src="assets/img/down-arrow.svg" alt="">
          </div>
      </div>
  </div>
  <div class="tab">
      <input type="radio" class="collapser" id="opt2" name="rd">
      <label class="aula-tema tab-label display-flex " for="opt2">
        <div class="tema-video"><img src="assets/img/tema_video.png" alt=""></div>
        <div class="tema-texto">Bloco 1 - Medidas De Saúde Coletiva / Declaração De Óbito - Coeficientes (taxas) <span class="tema-texto__duracao"> Duração:00:51:03</span></div>
        <div class="tema-seta"><span class="tema-seta__icon"></span></div>
      </label>
      <div class="aula-sub__tema tab-content">
          <div class="content__tema">
              <span class="content__tema-text"><img class="aula-video__tema" src="assets/img/paly.svg" alt=""> Coeficiente de Morbidade - <span class="content__tema-time"> 00:05:12</span></span>
              <img class="aula-sub__arrow" src="assets/img/down-arrow.svg" alt="">
          </div>
          <div class="content__tema">
              <span class="content__tema-text"><img class="aula-video__tema" src="assets/img/paly.svg" alt=""> Coeficiente de Morbidade - <span class="content__tema-time"> 00:19:18</span></span>
              <img class="aula-sub__arrow" src="assets/img/down-arrow.svg" alt="">
          </div>
          <div class="content__tema">
              <span class="content__tema-text"><img class="aula-video__tema" src="assets/img/paly.svg" alt=""> Coeficiente de Letalidade - <span class="content__tema-time"> 00:45:48</span></span>
              <img class="aula-sub__arrow" src="assets/img/down-arrow.svg" alt="">
          </div>
      </div>
  </div>
  <div class="tab">
      <input type="radio" class="collapser" id="opt3" name="rd">
      <label class="aula-tema tab-label display-flex " for="opt3">
        <div class="tema-video"><img src="assets/img/tema_video.png" alt=""></div>
        <div class="tema-texto">Bloco 1 - Medidas De Saúde Coletiva / Declaração De Óbito - Coeficientes (taxas) <span class="tema-texto__duracao"> Duração:00:51:03</span></div>
        <div class="tema-seta"><span class="tema-seta__icon"></span></div>
      </label>
      <div class="aula-sub__tema tab-content">
          <div class="content__tema">
              <span class="content__tema-text"><img class="aula-video__tema" src="assets/img/paly.svg" alt=""> Coeficiente de Morbidade - <span class="content__tema-time"> 00:05:12</span></span>
              <img class="aula-sub__arrow" src="assets/img/down-arrow.svg" alt="">
          </div>
          <div class="content__tema">
              <span class="content__tema-text"><img class="aula-video__tema" src="assets/img/paly.svg" alt=""> Coeficiente de Morbidade - <span class="content__tema-time"> 00:19:18</span></span>
              <img class="aula-sub__arrow" src="assets/img/down-arrow.svg" alt="">
          </div>
          <div class="content__tema">
              <span class="content__tema-text"><img class="aula-video__tema" src="assets/img/paly.svg" alt=""> Coeficiente de Letalidade - <span class="content__tema-time"> 00:45:48</span></span>
              <img class="aula-sub__arrow" src="assets/img/down-arrow.svg" alt="">
          </div>
      </div>
  </div>
  <div class="tab">
      <input type="radio" class="collapser" id="opt4" name="rd">
      <label class="aula-tema tab-label display-flex " for="opt4">
        <div class="tema-video"><img src="assets/img/tema_video.png" alt=""></div>
        <div class="tema-texto">Bloco 1 - Medidas De Saúde Coletiva / Declaração De Óbito - Coeficientes (taxas) <span class="tema-texto__duracao"> Duração:00:51:03</span></div>
        <div class="tema-seta"><span class="tema-seta__icon"></span></div>
      </label>
      <div class="aula-sub__tema tab-content">
          <div class="content__tema">
              <span class="content__tema-text"><img class="aula-video__tema" src="assets/img/paly.svg" alt=""> Coeficiente de Morbidade - <span class="content__tema-time"> 00:05:12</span></span>
              <img class="aula-sub__arrow" src="assets/img/down-arrow.svg" alt="">
          </div>
          <div class="content__tema">
              <span class="content__tema-text"><img class="aula-video__tema" src="assets/img/paly.svg" alt=""> Coeficiente de Morbidade - <span class="content__tema-time"> 00:19:18</span></span>
              <img class="aula-sub__arrow" src="assets/img/down-arrow.svg" alt="">
          </div>
          <div class="content__tema">
              <span class="content__tema-text"><img class="aula-video__tema" src="assets/img/paly.svg" alt=""> Coeficiente de Letalidade - <span class="content__tema-time"> 00:45:48</span></span>
              <img class="aula-sub__arrow" src="assets/img/down-arrow.svg" alt="">
          </div>
      </div>
  </div>
  <div class="bg_aulas"></div>
</div>
